@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model UserViewModel


<div class="container">
    <div class="main_container">
            <form class="column_add" asp-action="EditUser" asp-controller="User">
                <div class="text1">Добавление данных</div>

                <input value="@Model.Kod" asp-for="Kod" type="hidden"/>

                <input type="text" 
                       asp-for="Login"
                       name="Login" required placeholder="Логин" class="input">

                <input type="text" 
                       asp-for="Password"
                       name="Password" required placeholder="Пароль" class="input">

                <select class="select" asp-for="Role.Id" type="text" title="Role">
                    {
                    @foreach (var item in (ViewData["Roles"]) as IEnumerable<IdName>)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }

                    }
                </select>

                <button class="btn" type="submit">Окей</button>

            </form>
        <div class="column_see">
            <div class="text1">@ViewData["TableName"]</div>
            <div class="container_table">
                <table class="table">
                    <tr class="row">
                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>
                    @if (ViewData["TableData"] != null)
                    {
                        @foreach (var item in (ViewData["TableData"]) as UserViewModel[])
                        {
                            <tr class="row">
                                <td class="col" style="width:130px">
                                    <div class="container_btn">
                                        <button class="btn_change" type="submit"><a style="color:#000000; text-decoration:none;" href="/User/AllUsers?id=@item.Kod">Редактировать</a></button>
                                    </div>
                                </td>
                                <td class="col" contenteditable="true">@item.Login</td>
                                <td class="col" contenteditable="true">@item.Password</td>
                                <td class="col" contenteditable="true">@item.Role.Name</td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>

    </div>
</div>
