@{ ViewData["Title"] = "Реестр кинофильмов"; }


    <div class="container">
        <div class="main_container">

            <form class="column_add" action="/" method="post">
                <div class="text1">Добавление данных</div>

                <input type="text" name="secondname" required placeholder="Фамилия" class="input">

                <input type="text" name="firstname" required placeholder="Имя" class="input">

                <input type="text" name="thirdname" placeholder="Отчество" class="input">

                <input type="datetime" name="datetime" required placeholder="Дата Рождения" class="input">

                <button class="btn" type="submit">Окей</button>

            </form>

            <div class="column_see">
                <div class="text1">Табличка</div>
                <div class="container_btn">
                    <button class="btn_change">Редактировать</button>
                    <button class="btn_change">Удалить</button>
                </div>
                <form class="container_table" action="/" method="post">
                    <table class="table">
                        <tr class="row">
                            <td class="col"></td>
                            <td class="col">Название</td>
                            <td class="col">Данные</td>
                            <td class="col">Название</td>
                            <td class="col">Данные</td>
                            <td class="col">Данные</td>
                            <td class="col">Данные</td>
                            <td class="col">Данные</td>
                            <td class="col">Данные</td>
                        </tr>
                        @if (ViewData["Cinemas"] != null)
                        {
                            @foreach (var item in (ViewData["Cinemas"]) as FilmViewModel[])
                            {
                                <tr class="row">
                                    <td class="col"><input class="checkbox" type="checkbox" name="/id" value="/id"></td>
                                    <td class="col" contenteditable="true">@item.Kod</td>
                                    <td class="col">@item.Name</td>
                                    <td class="col">@item.Studio</td>
                                    <td class="col">@item.StartDate</td>

                                    <td class="col">@item.Country</td>
                                    <td class="col">@item.TimeDuration</td>
                                    <td class="col">@item.Genre</td>
                                    <td class="col">@item.Rating</td>
                                </tr>
                            }
                        }

                    </table>
                </form>
            </div>

        </div>
    </div>
