@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model EmployeeViewModel


<div class="container">
    <div class="main_container">

        <form class="column_add" asp-action="AddOrReplaceEmployee" asp-controller="Cinema">
            <div class="text1">Добавление данных</div>

            <input type="hidden" asp-for="Kod" value=@Model.Kod />

            <input type="text" name="SecondName" value=@Model.SecondName asp-for="SecondName" required placeholder="Фамилия" class="input">

            <div class="span"><span style="font-size:15px; margin-left:20px; margin-top:20px; font-weight:700;" asp-validation-for="SecondName"></span></div>


            <input type="text" name="FirstName" value=@Model.FirstName asp-for="FirstName" required placeholder="Имя" class="input">

            <div class="span"><span style="font-size:15px; margin-left:20px; margin-top:20px; font-weight:700;" asp-validation-for="SecondName"></span></div>

            <input type="text" name="ThirdName" value=@Model.ThirdName asp-for="ThirdName" placeholder="Отчетсво" class="input">


            <input type="date" name="BirthDay"
                   asp-for="BirthDay"
                   value=@Model.BirthDay.ToString("yyyy-MM-dd") placeholder="Дата рождения" class="input">

            <div class="span"><span style="font-size:15px; margin-left:20px; margin-top:20px; font-weight:700;" asp-validation-for="BirthDay"></span></div>


            <button class="btn" type="submit">Окей</button>


        </form>

        <div class="column_see">
            <div class="text1" style="margin-bottom:10px;">@ViewData["TableName"]</div>
            <div class="container_table">
                <table class="table">
                    <tr class="row">

                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>

                    @foreach (var item in (ViewData["TableData"]) as EmployeeViewModel[])
                    {
                        <tr class="row">
                            <td class="col" style="width:130px">
                                <div class="container_btn">
                                    <button class="btn_change" type="submit"><a style="color:#000000; text-decoration:none;" href="/Cinema/Employee?id=@item.Kod">Редактировать</a></button>



                                    @using (Html.BeginForm("DeleteEmployee", "Cinema", new { id = item.Kod }, FormMethod.Post))
                                    {
                                        <button class="btn_change" type="submit">Удалить</button>
                                    }
                                </div>
                            </td>

                            <td class="col">@item.SecondName</td>
                            <td class="col">@item.FirstName</td>
                            <td class="col">@item.ThirdName</td>

                            <td class="col">@item.BirthDay.ToShortDateString()</td>


                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
</div>
