@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model FilmsEmpViewModel


<div class="container">
    <div class="main_container">

        <form class="column_add" asp-controller="Cinema" asp-action="AddOrReplaceFilmsEmps">
            <div class="text1">Добавление данных</div>

            <input type="hidden" asp-for="Kod" value=@Model.Kod />

            <select class="select" asp-for="Film.Id" type="text" title="Film">
                @foreach (var item in (ViewData["Films"]) as IEnumerable<FilmViewModel>)
                {
                    @if (item.Id == Model.Film.Id)
                    {
                        <option value=@item.Id selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }

            </select>

            <select class="select" asp-for="Employee.Id" type="text" title="EmployeeName">
                @foreach (var item in (ViewData["Employees"]) as IEnumerable<EmployeeViewModel>)
                {
                    @if (item.Kod == Model.Employee.Id)
                    {
                        <option value=@item.Kod selected="selected">@item.ThirdName</option>
                    }
                    else
                    {
                        <option value=@item.Kod>@item.ThirdName</option>
                    }
                }

            </select>

            <select class="select" asp-for="EmployeeType.Id" type="text" title="EmployeeType">
                @foreach (var item in (ViewData["EmployeesType"]) as IEnumerable<TypeEmployeeViewModel>)
                {
                    @if (item.Id == Model.EmployeeType.Id)
                    {
                        <option value=@item.Id selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }

            </select>
            <button class="btn" type="submit">Окей</button>

        </form>

        <div class="column_see">
            <div class="text1" style="margin-bottom:10px;">@ViewData["TableName"]</div>

            <div class="container_table">
                <table class="table">
                    <tr class="row">
                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>

                     @foreach (var item in (ViewData["TableData"]) as FilmsEmpViewModel[])
                     {

                        <tr class="row">
                            <td class="col" style="width:130px">
                                <div class="container_btn">

                                    <button class="btn_change" type="submit">
                                        <a style="color:#000000; text-decoration:none;" href="/Cinema/FilmsEmp?id=@item.Kod">Редактировать</a>
                                    </button>

                                    @using (Html.BeginForm("DeleteFilmsEmp", "Cinema", new { id = item.Kod }, FormMethod.Post))
                                    {
                                        <button class="btn_change" type="submit">Удалить</button>
                                    }
                                </div>
                            </td>

                            <td class="col">@item.Film.Name</td>
                            <td class="col">@item.Employee.Name</td>
                            <td class="col">@item.EmployeeType.Name</td>
                        </tr>
                     }


                    </table>
            </div>
        </div>

    </div>
</div>
