@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model FilmsEmpViewModel


<div class="container">
    <div class="main_container">

        <form class="column_add" action="/" method="post">
            <div class="text1">Добавление данных</div>
            
            <select id="FilmName" name="FilmName">
                <option value="1">Фильм</option>
            </select>           

            <select id="EmployeeName" name="EmployeeName">
                <option value="1">Участник</option>
            </select>
          
            <select id="EmployeeType" name="EmployeeType">
                <option value="1">Что он там делал</option>
            </select>

         

            <button class="btn" type="submit">Окей</button>

        </form>

        <div class="column_see">
            <div class="text1" style="margin-bottom:10px;">@ViewData["TableName"]</div>

            <form class="container_table" action="/" method="post">
                <table class="table">
                    <tr class="row">
                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>

                     @foreach (var item in (ViewData["TableData"]) as FilmsEmpViewModel[])
                     {

                        <tr class="row">
                            <td class="col" style="width:130px">
                                <div class="container_btn">
                                    <button class="btn_change">Редактировать</button>
                                    <button class="btn_change">Удалить</button>
                                </div>
                            </td>

                            <td class="col" contenteditable="true">@item.FilmName</td>
                            <td class="col" contenteditable="true">@item.EmployeeName</td>
                            <td class="col" contenteditable="true">@item.EmployeeType</td>
                        </tr>
                     }


                    </table>
            </form>
        </div>

    </div>
</div>
