@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model SessionFilmsViewModel


<div class="container">
    <div class="main_container">

        <form class="column_add" asp-controller="Cinema" asp-action="AddOrReplaceSessionFilms">
            <div class="text1">Добавление данных</div>

            <input type="hidden" asp-for="Kod" value=@Model.Kod />

            <select class="select" asp-for="Film.Id" type="text" title="Film">
                {
                @foreach (var item in (ViewData["Films"]) as IEnumerable<FilmViewModel>)
                {
                    @if (item.Id == Model.Film.Id)
                    {
                        <option value=@item.Id selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }
                }
            </select>

            <input type="datetime-local" name="FilmStart" 
                   asp-for="FilmStart" value=@Model.FilmStartTime()
                       required placeholder="Дата начала" class="input">

            <input type="number" min="1" name="ZalNumber" 
                   asp-for="ZalNumber" value=@Model.ZalNumber
                   required placeholder="Зал" class="input">

            <input type="number" min="1" name="SeatsAmount"
                   asp-for="SeatsAmount" value=@Model.SeatsAmount
                   required placeholder="Кол-во мест в зале" class="input">

            <input type="number" step="0.01" min="0" name="TicketPrice"
                   asp-for="TicketPrice" value=@Model.TicketPrice
                   required placeholder="Цена билета 0,00" class="input">

            <input type="number" min="0" name="FreeSeatsAmount"
                   asp-for="FreeSeatsAmount" value=@Model.FreeSeatsAmount
                   required placeholder="Кол-во свободных мест в зале" class="input">


            <button class="btn" type="submit">Окей</button>

        </form>

        <div class="column_see">
            <div class="text1" style="margin-bottom:10px;">@ViewData["TableName"]</div>

            <div class="container_table">
                <table class="table">
                    <tr class="row">
                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>

                    @foreach (var item in (ViewData["TableData"]) as SessionFilmsViewModel[])
                    {
                        <tr class="row">
                            <td class="col" style="width:130px">
                                <div class="container_btn">

                                    <button class="btn_change" type="submit">
                                        <a style="color:#000000; text-decoration:none;" href="/Cinema/SessionFilms?id=@item.Kod">Редактировать</a>
                                    </button>

                                    @using (Html.BeginForm("DeleteSessionFilms", "Cinema", new { id = item.Kod}, FormMethod.Post))
                                    {
                                        <button class="btn_change" type="submit">Удалить</button>
                                    }
                                </div>
                            </td>

                            <td class="col" contenteditable="true">@item.Film.Name</td>
                            <td class="col" contenteditable="true">@item.FilmStart</td>
                            <td class="col" contenteditable="true">@item.ZalNumber</td>
                            <td class="col" contenteditable="true">@item.SeatsAmount</td>
                            <td class="col" contenteditable="true">@item.TicketPrice</td>
                            <td class="col" contenteditable="true">@item.FreeSeatsAmount</td>
                        </tr>
                        }


                    </table>
            </div>
        </div>

    </div>
</div>
